{% extends 'components/base_view.html' %}

{% block Title %}
	Wait for an attendee to help
{% endblock %}

{% block body %}
	<div class="ui one column center aligned grid">
		<p class="column row tgd description logo">
			{{ Game.title }}
		</p>
		<p class="column row tgd description">
			Please ask an attendee to help with setup of this game!
		</p>
		<div class="column row">
			<a class="ui large secondary button" href="{{ url_for('root.rate', title=Game.title) }}">
				Rate Game
			</a>
		</div>
		<div class="column row">
			<a class="ui medium primary button" href="{{ url_for('root.rate', title=Game.title) }}">
				Go Back
			</a>
		</div>

	</div>
	<script>
	</script>
{% endblock %}