<!DOCTYPE html>

<html lang="en">
<head>
	{% block head %}
	{% endblock %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
	{% endblock %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>TGD - {% block Title %}{% endblock %}</title>

	{% block head_scripts %}
		<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
	{% endblock %}

</head>
<body>
<div class="background ui squished grid" style="min-height: 100vh">

	<script>
        $(document).ready(function () {
            $('.ui.sticky').sticky();
        });
	</script>
	<div class="four wide column">
		{% include 'components/navbar.html' %}
	</div>

	<div class="twelve wide column" style="box-shadow: -10px 0 15px 0 rgba(0,0,0,0.75);">
		{% block body %}
		{% endblock %}
	</div>

</div>
</div>
{% block footer %}
{% endblock %}
</body>

{% block end_scripts %}

{% endblock %}

</html>
