{% import 'macros/game_entry.html' as entry %}
<div class="ui squished grid">

	{% for game in games %}
		<div class="one column row" style="margin-bottom: -5px;">
			{{ entry.game_entry(game.title, game.author, game.summary, game.group, game.banner, game.path) }}
		</div>
	{% endfor %}

	<script>
        $('.segment.game').click(function () {
            $('.segment.game').each(function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
        })
	</script>
</div>


