<script>
    $(document).ready(function () {
        $('.ui.sticky').sticky();
    });
</script>
<div class="ui sticky">

	<div class="row" style="margin: 5vh 15px 5vh 15px;">
		<img class="ui centered image" src="{{ url_for('static', filename='images/TGDLogo.png') }}">
	</div>
	<div class="row">
		<p class="tgd description logo">Tucson Game Developers</p>
	</div>
	<div class="row" style="margin: 5vh 15px 5vh 15px;">

		<p class="tgd description">
			These are games in development right here in Tucson!</p>
		<p class="tgd description">
			Feel free to play a game and afterwards give some feedback of what you thought of the game!</p>
	</div>

	<div class="row" style="height: 100%">
		<p class="tgd description" style="margin-top: 20px">
			www.tucsongamedev.com
		</p>
	</div>
</div>

