<div class="ui container">
	<form method="POST" action="/game/rate/{{ game.title }}" class="ui form">

		<div class="ui basic center segment" style="margin-top: 10vh;">
			<p class="tgd description logo">Thanks for Playing!</p>
		</div>

		<div class="ui one column center aligned grid">

			<p class="column row tgd description">What did you think of {{ game.title }}?</p>

			<div class="column row">
				<div class="ui star rating" data-max-rating="5" style="font-size: 5rem;"></div>
				{{ form.rating(id_="rating") }}
			</div>

			<div class="column row">
				<div class="inline field">
					<label>{{ form.name.label(class_="tgd description") }}</label>
					{{ form.name(placeholder="Anonymous if blank") }}
				</div>
				<div class="inline field">
					<label>{{ form.email.label(class_="tgd description") }}</label>
					{{ form.email(placeholder="Optional email") }}
				</div>
			</div>

			<div class="column row">
				{{ form.feedback(style="max-width: 40vw;", class_="field", placeholder="Any thoughts you'd like to share with the developer?") }}
			</div>

			<div class="column row">
				<input type="submit" class="ui secondary button" value="SUBMIT">
			</div>

			<div class="column row">
				<a class="ui primary button" href="/">
					SKIP
				</a>
			</div>

			{% if form.errors %}
				<div class="column row">

					<div class="ui negative message">

						<div class="header">
							Your rating was not submitted:
						</div>

						<ui class="list">
							{% for error in get_flashed_messages() %}
								<li>{{ error }}</li>
							{% endfor %}
						</ui>

					</div>
				</div>
			{% endif %}

		</div>

	</form>
	<script>$('.ui.rating').rating('setting', 'onRate', function (rating) {
        $('#rating').val(rating);
    });

    let idleTime = {{ timeout }};

    $(function () {
        let idleTimer;

        function resetTimer() {
            clearTimeout(idleTimer);

            idleTimer = setTimeout(redirectHome, idleTime * 1000);
        }

        $(document.body).bind('mousemove keydown click', resetTimer);
    });

    function redirectHome() {
        window.location.href = '/';
    }
	</script>
</div>